CONFIG_WM_PARTITION_TABLE_WITH_OTA=y
CONFIG_COMPONENT_BT_ENABLED=y
CONFIG_BT_PERIPHERAL=y
CONFIG_BT_BUF_ACL_TX_SIZE=251
CONFIG_BT_BUF_ACL_RX_SIZE=251
CONFIG_BT_BUF_ACL_RX_COUNT=24
CONFIG_BT_USER_DATA_LEN_UPDATE=y
CONFIG_BT_L2CAP_TX_MTU=247
CONFIG_BT_ATT_PREPARE_COUNT=5
# CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION is not set
CONFIG_BT_WPS=y
CONFIG_BT_DEVICE_NAME="fastbee-device"
CONFIG_BT_DEVICE_APPEARANCE=833
CONFIG_BT_CTLR_DATA_LENGTH_MAX=251
CONFIG_COMPONENT_CJSON_ENABLED=y
CONFIG_COMPONENT_DRIVER_PWM_ENABLED=y
CONFIG_COMPONENT_MQTT_ENABLED=y
CONFIG_COMPONENT_CLI_ENABLED=y
CONFIG_WM_HTTP_CLIENT_SECURE=y
CONFIG_COMPONENT_OTA_ENABLED=y
CONFIG_COMPONENT_OTA_HTTP_ENABLED=y
CONFIG_WIFI_ENABLE_AP_FEATURE=y
CONFIG_WIFI_DHCPS_IPV4_ADDR="192.168.4.1"
CONFIG_WIFI_DHCPS_IPV4_GW="192.168.4.1"
CONFIG_COMPONENT_WEBNET_ENABLED=y
